.container{
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 15px;
    background-color: rgb(46, 33, 33);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}
.inputs{
background-color: white;
padding: 10px;
align-items: center;
margin: 60px;


}

.inputs label,input{
    padding: 5px;
  
   
}
.inputs label{
   float: left;
   margin-left: 14px;
}
input{
    margin-bottom: 2px;
    width: 170px;
}

.submit{
   margin-top: 15px;
   width: 182px;
  
   margin-left: 20px;
   margin-right: 20px;
   border-color:rgb(65, 38, 38) ;
    cursor: pointer;
   background-color: rgb(18, 245, 196);
}
.p1{
    margin-right: 65px;
    font-size: 12px;
}
.submit:hover{
    background-color: yellow;
    transition: 0.5s;

 
}